.box {
  width: 33.33vw;
  height: 90vh;
  overflow-x: visible;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.box-title{
  width: 33.33vw;
  height: 5vh;
  display: flex;
  justify-content: center;  
  align-items: center;
}

.waiting-title{
  background-color: #faa28c;
}

.waiting{
  background-color: #fdbfaf;
}

.being-answered-title{
  background-color: #f7e679;
}

.being-answered{
  background-color: #fcee96;
}

.answered-title{
  background-color: #82c5ec;
}

.answered{
  background-color: #9ccde9;
}

.flex-container{
  display: flex;
  justify-content: space-evenly;
}


.badge {
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 0 0 0 26px;
  color: #fff;
}

.entry{
  background-color: white;
  /* width: 33.33vw; */
  margin-top: 10px;
  width: 30vw;
  height: auto;
  padding: 20px;
  cursor: move;
}
