.box {
  width: 30vw;
  height: 80vh;
  border-radius: 1.5rem;
  margin: 1rem;
  overflow-x: visible;
  overflow-y: scroll;
}

.waiting{
  border: 2px solid #dc3545;
}

.being-answered{
  border: 2px solid #ffc107;
}

.answered{
  border: 2px solid #28a745;
}

.flex-container{
  display: flex;
  justify-content: space-evenly;
}


.badge {
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 0 0 0 26px;
  color: #fff;
}

.entry{
  background-color: white;
  margin: 1rem;
  height: auto;
  padding: 20px;
  cursor: move;
}
