body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: bold;
}

p {
  text-align: center;
}

/* Align the qr code to be in the center of the page */
#qr {
  width: 250px; /* you can use % */
  height: auto;
  margin-left: auto;
  margin-right: auto;
}