body {
    font-family: sans-serif;
  }

  h1 {
    text-align: center;
    font-weight: bold;
  }

  p {
    text-align: center;
  }

  /* Align the qr code to be in the center of the page */
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }