body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3{
  margin-top: 20px !important;
}

.entry{
  width: 600px;
  padding: 1rem;
}

.btn-group{
  display: flex;
  justify-content: center;
  text-align: center;
}
