<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/admin.css">
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="/static/js/admin.js"></script>
</head>
<body>
  <div id="info"></div>
    <div class="flex-container">
      <div id="waiting-box" class="box waiting"></div>
      <div id="being-answered-box" class="box being-answered"></div>
      <div id="answered-box" class="box answered"></div>
    </div>
</body>
</html>
