<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/queue.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Queue Entry System</title>
  </head>
  <body>
    <div class="container">
      <h1>Queue Entry System</h1>

      <form >
        <div class="form-group">
          <label for="name-input">Name</label>
          <input type="text" class="form-control" id="name-input" placeholder="Enter your name">
        </div>
        <div class="form-group">
          <label for="question-input">Question</label>
          <textarea class="form-control" id="question-input" rows="3" placeholder="Enter your question"></textarea>
        </div>
        <div class="form-group">
          <label for="extra-input">Extra Information</label>
          <input type="text" class="form-control" id="extra-input" placeholder="Enter any extra information">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div id="queue-number" style="display: none;">
          Your number is: <span id="queue-number-value"></span>
      </div>
  
    </div>
    </body>    
    <footer>
      <script src="/static/js/queue.js"></script>    
    </footer>
</html> 